$white: white;
$black: black;
$csection-main-color: #13017b;

.c-section {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .c__container {
    text-align: center;

    .c__list {
      width: 320px;
      height: 400px;
      padding: 32px;
      border: 1px solid $csection-main-color;

      .c__list--text {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 8px;
        color: $black;
        text-align: center;
        list-style: none;
        border-bottom: 1px solid $csection-main-color;
      }
    }

    .c__list--button {
      margin-top: 24px;
      padding: 8px 24px;
      color: $white;
      text-align: center;
      background: $csection-main-color;
    }
  }
}
