$white: white;
$black: black;
$bsection-main-color: #13017b;
$from-height: 40px;

.bsection {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 24px;
  color: $bsection-main-color;

  .bsection__input--form {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 48px;

    .bsection__input {
      width: 100%;
      height: $from-height;
      border: 1px solid $bsection-main-color;
    }

    .bsection__button {
      height: $from-height;
      padding: 0 16px;
      color: $white;
      white-space: nowrap;
      background-color: $bsection-main-color;
    }
  }

  .todo__input--container {
    width: 400px;
    height: 56px;
    margin-top: 8px;
    color: $black;
    border: 1px solid #13017b;
  }

  .todo__deletebutton {
    width: 50px;
    height: 100%;
    margin-right: 16px;
    padding: 8px;
    color: $white;
    white-space: nowrap;
    text-align: center;
    background-color: $bsection-main-color;
  }
}
