.a__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100vh;
  margin: 0 auto;

  .a__section--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
